.form {
  padding: 20px;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.label {
  margin-right: 30px;
  margin-bottom: 15px;
  color: green;
  font-size: 22px;
}
.input {
  width: 150px;
  height: 30px;
  padding: 4px;
  border-radius: 5px;
  margin-left: 10px;
  border-color: rgba(161, 95, 91, 0.3);
  outline: none;
  background-color: transparent;
}
.button {
  background-color: palegoldenrod;
  border-color: transparent;
  color: black;
  min-width: 130px;
  padding: 10px 20px;
  border-radius: 20px;
}
.button:hover,
.button:focus {
  background-color: coral;
  color: whitesmoke;
}
