body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("./bgbgbg.jpg");
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
a {
  text-decoration: none;
  color: blue;
  font-size: 20px;
}
p,
h1,
h2,
h3 {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
* {
  box-sizing: border-box;
}
.nav_link {
  color: rgb(44, 81, 148);
}
.nav_link-active {
  color: coral;
}
.container__app {
  padding: 0 30px;
  margin: 0 auto;
  max-width: 1300px;
}
@media screen and (max-width: 400px,) {
  .container_app {
    width: 300px;
  }
}
.header {
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.nav__list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav__item {
  margin-right: 20px;
}
.container {
  width: 100%;
  padding: 20px;
  align-items: center;
}
/******* HOME *******/
.home__desc {
  text-align: center;
  padding: 200px 20px;
  font-size: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  max-width: 600px;
  margin: 0 auto;
}
.home__app {
  margin-left: 7px;
}
.user__name {
  margin-right: 10px;
}
.user__nameOK {
  color: orangered;
  margin-right: 10px;
}
.home-link {
  margin: 0 5px;
}

/******** FORM *****************/
.form {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: center;
}
.label {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  color: black;
}
.input {
  margin-top: 5px;
  background-color: transparent;
  border: 1px solid olive;
  border-radius: 5px;
  padding: 5px;
}
.input::placeholder {
  color: gray;
}
.button {
  border-radius: 10px;
  background-color: palegoldenrod;
  padding: 5px 10px;
  border-color: transparent;
}
.button:hover,
.button:focus {
  background-color: coral;
  color: whitesmoke;
}
/********* USER MENU ********/
.user__menu {
  display: flex;
  justify-content: space-between;
}
.welcome {
  margin-left: 10px;
}
