.list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.list__item {
  margin-right: 30px;
  margin-bottom: 15px;
}
.button {
  background-color: palegoldenrod;
  border-color: transparent;
  color: black;
  height: 30px;
  padding: 5px 20px;
  border-radius: 15px;
  margin-top: 10px;
}
.text {
  font-size: 15px;
  color: green;
  margin-bottom: 8px;
}
.number {
  margin-bottom: 8px;
  color: black;
}
